.home-background {
    background-image: url(https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 627px;
}
.coupon-background {
    background: url(https://plus.unsplash.com/premium_photo-1675435646793-f6ceb239b064?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.paper-background {
    background-image: url(https://images.unsplash.com/photo-1690983321102-b46d00ca7498?q=80&w=2557&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.login-background {
    background-image: url(https://img.1ppt.com/uploads/allimg/1812/1_181221140352_1.JPG); 
    height: 100vh; 
}
.header-background {
    background-image: url(https://images.unsplash.com/photo-1690983326538-bd22e404e054?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.aboutUs-img1 {
    background-image: url(https://images.unsplash.com/photo-1705176248626-e8b60a602794?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 50vh;
}
.done-background {
    background-image: url(https://images.unsplash.com/photo-1582737971614-7b3cf1326f40?q=80&w=2535&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 800px;
}
.aboutUs-img3 {
    background-image: url(https://images.unsplash.com/photo-1705176248626-e8b60a602794?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 50vh;
}

.bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}