.breadcrumb-link {
    text-decoration: none;
    color: #6c757d;
}
.navtab-link {
    text-decoration: none;
    color: #6c757d;
}
.card {
    text-decoration: none;
}
.swiper-link{
    text-decoration: none;
    color: #000;
}
.swiper-pagination-bullet{
    background-color: gray;
}